
.top{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-between;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border: 1px solid orangered;
}

.brand-logo span {
    font-size: 1.5rem !important;
  }
    
  .brand-logo span {
    font-size: 1.5rem;
    font-weight: 500;
    @media (min-width: 1024px){
        font-size: 2rem;
    }
  }

  .theme-toggle-btn{
 
  }